* {
  display:block;
  color: #fff;
}
body {
  @media (min-width: 1919px) {
  max-height: 800px;
  }
}
img {
  margin: 0 auto;
  object-fit: cover;
  @media (min-width: 1280px) {
    width: 50%;
    max-height: 880px;
  }
  @media (max-width: 1279px) {
    width: 100%;
  }
}
